@import url("page_stack_switcher.css");

#main_window_content {
    background-color: white;
}

/*#now_playing_cover {
    background-image: image(url("http://media-cache-ec0.pinimg.com/736x/a5/95/a5/a595a5c260be4dfeac7bf11e1c9b2f70.jpg"), green);
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center;
}*/
